@model IEnumerable<LiveTagsSearch.Models.File>

<h3>@ViewBag.Title</h3>

<table class="table">
<tr>
    <th>
        Icon
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <img src="@item.IconPath" width="50" height="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Tags.Count != 0)
            {
                @Html.ActionLink("View Tags", "view_tags", new { tags = item.Tags })
            }
            @Html.ActionLink("Add Tag", "add_tag", new { name = item.Name })  
            @if (item.Tags.Count != 0)
            {
                @Html.ActionLink("Delete Tags", "del_tags", new { tags = item.Tags })
            }
        </td>
        <td>
            @if (item.IsRenderable())
            {
                @Html.ActionLink("Render", "Render", new { content = item.Content })
            }
        </td>
    </tr>
}

</table>